.selectedScene {
    background-color: grey;
}

.members-cell {
    background-color: #E8E8E8;
    padding: 0px 10px;
    border-radius: 4px;
    padding-bottom: 10px;
    min-height: calc(100% - 40px);
    margin-bottom: 10px;
}

#root {
    overflow-y: hidden;
    height: 100%;
}

.height {
    height: 100%;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-right: 10px;
    width: 100%;
}

.MuiInputBase-root, .MuiFormControlLabel-root, .MuiFormControl-root {
    width: 100%;
}
.MuiFormControlLabel-label.MuiTypography-body1 {
    font-size: 0.8rem;
}

.right {
    float: right;
}

.align-right {
    text-align: right;
}

.clear {
    clear: both;
}

.buttons-container button {
    margin: 0px 10px;
}

.member-card {
    padding: 4px;
    margin: 10px 0px;
}

.MuiFormLabel-root {
    white-space: nowrap;
}

.leftMenuItem .MuiListItem-root {
    display: block; border-radius: 10px;
}

.memberTrue, .memberFalse {
    border-radius: 10px;
    padding: 2px 8px;
    font-size: initial;
    font-weight: initial;
    margin: 0px 10px;
}

.memberTrue {
    background-color: lightgreen;
}

.memberFalse {
    background-color: pink;
}

.MuiDialog-paper {
    padding: 10px;
}